@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.m-87cf2631.mantine-Spotlight-action {
	display: flex;
	flex-direction: row;
	padding: 15px !important;
	width: 100%;
	gap: 10px;
	align-items: center;
}

.m-3d475731 {
	display: flex;
	flex-direction: column;
}

.scroll-awesome::-webkit-scrollbar {
	height: 6px;
}
.scroll-awesome::-webkit-scrollbar-track {
	background: #666; 
  }
  .scroll-awesome::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
  }
